*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.mouse-x-position{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

.background{
    height: 100%;
}