*{
    margin: 0;
}

.mouse-x-position{
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

